<nav class="sticky-top navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
    <div class="container">
        <a class="navbar-brand" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
                 stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img"
                 viewBox="0 0 24 24"><title>Product</title>
                <circle cx="12" cy="12" r="10"/>
                <path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/>
            </svg>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-between" style="width:100%">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Kas ir Gaisa Sargs?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pieteikties</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Atbalstīt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Salikšanas pamācība</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Biežāk uzdotie jautājumi</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
