<meta charset="utf-8">
<title>{{ page.title }} &mdash; {{ site.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="/assets/compiled/main.css">
<meta name="description" content="{{ site.description }}">
<meta property="og:title" content="{{ site.title }}"> 
<meta property="og:image" content="/assets/img/miegainiba350.jpg">
<meta property="og:site_name" content="GAISA SARGS">
<meta property="og:description" content="{{ site.description }}">
 