@import "node_modules/bootstrap/scss/functions";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,400;0,600;0,900;1,300;1,900&display=swap');
// Variable overrides.
$primary: #0f47a1;
$font-sans-serif: 'Source Sans 3', sans-serif;
$body-font-family: 'Source Sans 3', sans-serif;

@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/utilities";

// Layout & components
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/containers";
@import "node_modules/bootstrap/scss/grid";
//@import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/transitions";
//@import "node_modules/bootstrap/scss/dropdown";
//@import "node_modules/bootstrap/scss/button-group";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
//@import "node_modules/bootstrap/scss/card";
//@import "node_modules/bootstrap/scss/accordion";
//@import "node_modules/bootstrap/scss/breadcrumb";
//@import "node_modules/bootstrap/scss/pagination";
//@import "node_modules/bootstrap/scss/badge";
//@import "node_modules/bootstrap/scss/alert";
//@import "node_modules/bootstrap/scss/progress";
//@import "node_modules/bootstrap/scss/list-group";
//@import "node_modules/bootstrap/scss/close";
//@import "node_modules/bootstrap/scss/toasts";
//@import "node_modules/bootstrap/scss/modal";
//@import "node_modules/bootstrap/scss/tooltip";
//@import "node_modules/bootstrap/scss/popover";
//@import "node_modules/bootstrap/scss/carousel";
//@import "node_modules/bootstrap/scss/spinners";
//@import "node_modules/bootstrap/scss/offcanvas";
//@import "node_modules/bootstrap/scss/placeholders";

// Helpers
@import "node_modules/bootstrap/scss/helpers";

// Utilities
@import "node_modules/bootstrap/scss/utilities/api";

@import "embed";

.container {
  max-width: 1620px !important;
}

/*
 * Custom translucent site header
 */

.site-header {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}
body {
	font-family: 'Source Sans 3', sans-serif !important;
	background-image: url("/assets/img/whitebg.svg") !important;
	background-size: cover !important;
	background-repeat: repeat !important;
	
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #fff;
  }
}
/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -20%;
  width: 400px;
  height: 540px;
  background-color: #333;
  background-image: url("/assets/img/hero.png");
  background-size: cover;
}
 .main-title{font-weight: 600 !important; font-size: 5rem !important; color: #0f47a1;}
			
.h1logo {margin-bottom: 40px;}
.mainleft{ margin-left: 10px;}
.main-subtitle {margin-left: 10px; border-left: 10px solid #0f47a1; padding-left: 10px;}
.zila-linija-horiz {margin: 50px auto 50px auto; display:inline-block; height: 10px; width: 80%; background-color: #0f47a1}
.zilais {color: #0f47a1;}
.cik-gab {font-size: 14rem; color: #0f47a1; font-weight: 900; font-style: italic;}
.cik-gab-sub {font-size: 4rem; color: #0f47a1; font-weight: 900; font-style: italic;}
.dimants1 {background-image: url("/assets/img/dimants-1.svg"); background-repeat: no-repeat; background-size: 50px; background-position: left bottom;}
.dimants2 {background-image: url("/assets/img/dimants-1.svg"); background-repeat: no-repeat; background-size: 50px; background-position: top center;}
.dimants3 {background-image: url("/assets/img/dimants-2.svg"); background-repeat: no-repeat; background-size: 50px; background-position: 20% 30%;}
.dimants4 {background-image: url("/assets/img/dimants-2.svg"); background-repeat: no-repeat; background-size: 50px; background-position: bottom left;}
.pogas-teksts{font-size: 32px !important; font-weight: 700; font-style: italic;}
.dosje-h2{font-weight: 700; font-style: italic;}
.cleargap {
	width: 100%;
	height: 40px;
}

/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}


